{% extends 'base.html.twig' %}

{% block body %}
    <a href='/logout'>logout</a> <h1>Hi Admin</h1>
    <a href='/add-flight'>Add Flight</a>
    <br/>
    <a href='/view-flight'>View Flight</a>

{% endblock %}